:host {
    display: block; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-image: url('./assets/backgrd.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1; /* Place the background behind all other content */
}

.posts-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; /* Ensure container takes full height */ 
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */ 
    padding: 20px; 
    border-radius: 8px; 
    box-sizing: border-box; 
    position: relative; 
    z-index: 1; /* Ensure the container is above the background */
}

h2 {
    color: rgb(214, 96, 163);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

h2::after {
    content: '';
    display: block;
    width: 250px;
    height: 3px;
    background-color: rgb(214, 96, 163);
    margin: 10px auto 0;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

li {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

h3 {
    margin: 10px 0;
}

.post-content {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(214, 96, 163);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button-container button:hover {
    background-color:  rgb(90, 90, 149);
}

.new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.new-post h3 {
    margin-bottom: 15px;
    color: rgb(214, 96, 163);
}

.new-post input, .new-post textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.new-post button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(214, 96, 163);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.new-post button:hover {
    background-color:  rgb(90, 90, 149);
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(214, 96, 163);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

button i {
    margin-left: 5px; /* Add some space between the icon and text */
}

button:hover {
    background-color:  rgb(90, 90, 149);
}

.post-title {  
    display: inline-block; /* Allow the block to fit the content */  
    padding: 8px;   
    background-color: rgb(90, 90, 149);  
    color: white;  
    border-radius: 8px;  
    font-size: 1em; 
     margin-bottom: 10px; 
     text-align: center;  
     margin-left: auto;  
     margin-right: auto;
     } 
